.selector {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  align-content: center;
  border: 2px solid #022541;
  border-radius: 30px;
  cursor: pointer;

  .anchor {
    padding: 2px 10px 2px 10px;
    border-radius: 30px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    &.selected {
      background-color: #02254c;
      padding: 2px 10px 2px 10px;
      border-radius: 30px;
      color: rgb(134, 240, 134);
      font-size: 14px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  h3 {
    margin: 0
  }
}