.card {
  width: 200px;
  flex-shrink: 0;
  margin-left: 20px;
  position: relative;
  transition: 1s all;
  padding-bottom: 15px;

  .card-wrapper {
    position: relative;
  }

  .card-img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    border-width: 2px;
    border-color: red;
    border-style: solid;
  }

  .circular {
    position: absolute;
    bottom: -15px;
    left: 10px;
  }

  .title {
    margin-bottom: 0;
    font-size: 16px;
  }

  .thumbs {
    position: absolute;
    bottom: 5px;
    right: 10px;
  }
}
