.div {
  background-color: #081c22;
  width: 38px;
  height: 38px;
  justify-content: center;
  align-items: center;
  padding: 3px;
  border-radius: 50%;
}

.circular-progress {
  width: 38px;
  height: 38px;
}